{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Agendamentos</strong>

    <ul class="providers">
      {% for appointment in appointments %}
        <li class="provider">
          <div>
              <img src="/files/{{ appointment.person.avatar }}" />
              <strong>{{ appointment.person.name }}</strong>
              <strong>{{ appointment.date }}</strong>
          </div>
        </li>
      {% endfor %}
    </ul>

    <a href="/app/dashboard" class="back">Voltar</a>
  </div>
{% endblock %}
